Flask==3.0.3
Flask-session==0.8.0
Flask-Login==0.6.3
psycopg2-binary
python-dotenv==0.21.0
werkzeug
numpy
openai==1.31.2
langchain_openai==0.1.7
google-api-python-client
yt-dlp
openai-whisper
gunicorn
langchain==0.2.2
sqlalchemy
gevent
gunicorn
elevenlabs
ffmpeg