@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #d4f0fc;
    color: #01303f;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
    background-color: #f1f1f1;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#logo-container img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

#logo-container h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #02577a;
}

#sidebar nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#sidebar nav ul li {
    margin: 10px 0;
}

#sidebar nav ul li a {
    text-decoration: none;
    color: #02577a;
    display: block;
    text-align: center;
    padding: 15px; /* Increase padding for better appearance */
    border-radius: 5px;
    background-color: #89d6fb;
    width: 100%; /* Adjust the width to 100% */
    margin: 0 auto; /* Center the buttons */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

#sidebar nav ul li a:hover {
    background-color: #02577a;
    color: white;
}

#main-content {
    flex: 1;
    padding: 20px;
}

header {
    background-color: #CC5500;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

#version {
    font-size: 14px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

#welcome-message, #job-listings-message, #job-listings-manager, #interview-details, #file-upload-section {
    background-color: white;
    border: 1px solid #89d6fb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

#job-listings-manager h2, #interview-details h2 {
    color: #02577a;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"], form select, form button, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #89d6fb;
    border-radius: 5px;
}

form button, form input[type="submit"] {
    background-color: #02577a;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover, form input[type="submit"]:hover {
    background-color: #01303f;
}

.centered-button-container {
    text-align: center;
    margin-top: 20px;
}

.start-interview-button {
    width: 100%; /* Set the width to 100% */
    padding: 10px;
    border: 1px solid #89d6fb;
    border-radius: 4px;
    background-color: #02577a;
    color: white;
    cursor: pointer;
    border: none; /* Remove border */
}

.start-interview-button:hover {
    background-color: #01303f;
}
