<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Interview Bot Has Entered The Chatroom...Let's Go!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Interview Chat for {{ username }}</h1>
    </header>
    <div id="chat">
        <div class="chat-block">
            <p>Bot: {{ first_question }}</p>
            <hr>
            {% if feedback_response %}
                <p>Bot Feedback: {{ feedback_response }}</p>
            {% endif %}
            {% if score_response %}
                <p>Bot Score: {{ score_response }}</p>
            {% endif %}
            {% if next_question_response %}
                <p>Bot: {{ next_question_response }}</p>
            {% endif %}
        </div>
    </div>
    <form method="POST" action="/specific_interview">
        <input type="hidden" name="job_title" value="{{ job_title }}">
        <input type="hidden" name="company_name" value="{{ company_name }}">
        <input type="hidden" name="industry" value="{{ industry }}">
        <input type="hidden" name="username" value="{{ username }}">
        <label for="answer_1">Your Response:</label>
        <textarea id="answer_1" name="answer_1" rows="5" style="width: 100%;" required></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>