<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Home</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
 <script>
     document.addEventListener("DOMContentLoaded", function() {
         const text = `Welcome {{ current_user.username }}! It’s purr-fect to meet you. I’m excited to help you along your job journey. Here are some notes on how to get the most out of my services:
         Upload as much training data as you have on the company you are interviewing with.
         If you encounter a long wait time during any step in the process it’s likely due to the size of your files or length of your query. Don’t worry I’m still making my biscuits on the backend and if we ever encounter an error I’ll give you a meow.
         If you have any recommendations on how to improve my service please send them to: wyliedeveloper@gmail.com`;
         let i = 0;
         function typeWriter() {
             if (i < text.length) {
                 document.getElementById("speech-text").innerHTML += text.charAt(i);
                 i++;
                 setTimeout(typeWriter, 25);
             }
         }
         typeWriter();
     });

     function toggleNav() {
         var nav = document.getElementById("nav-menu");
         if (nav.style.display === "block") {
             nav.style.display = "none";
         } else {
             nav.style.display = "block";
         }
     }
 </script>
</head>
<body>
 <div class="navbar">
     <span class="nav-toggle" onclick="toggleNav()">&#9776;</span>
     <div id="nav-menu" class="nav-menu">
         <a href="{{ url_for('auth.home') }}">Home</a>
         <a href="{{ url_for('auth.logout') }}">Logout</a>
     </div>
 </div>
 <h1>Welcome, {{ current_user.username }}!</h1>
 <div class="container">
     <img src="https://interview-bot-public-images.s3.amazonaws.com/beans_bot_light_bg_500.png" alt="Beans Bot" class="image">
     <div class="speech-bubble">
         <p id="speech-text"></p>
     </div>
 </div>
 <div style="text-align: center; margin-top: 50px;">
     <a href="http://localhost:5011/?username={{ current_user.username }}" class="button">Let's Get Started!</a>
 </div>
</body>
</html>
