<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Training Data Service</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S00G0YVEWV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-S00G0YVEWV');
    </script>
</head>
<body>
<div id="sidebar">
    <div id="logo-container">
        <img src="https://interview-bot-public-images.s3.amazonaws.com/beans_bot_light_bg_500.png" alt="Beans Bot">
        <h1>Elevator Pitch</h1>
    </div>
    <nav>
        <ul>
            <li><a href="javascript:void(0)" id="home-link">Home</a></li>
            <li><a href="javascript:void(0)" id="edit-resume-link">Edit Resume</a></li>
            <li><a href="javascript:void(0)" id="edit-job-listing-link">Edit Job Listing</a></li>
            <li><a href="javascript:void(0)" id="job-resume-comparison-link">Job / Resume Comparison</a></li>
            <li><a href="javascript:void(0)" id="profile-link">Profile</a></li>
            <li><a href="javascript:void(0)" id="plans-link">Plans</a></li>
            <li><a href="javascript:void(0)" id="interview-history-link">Interview History</a></li>
            <li><a href="javascript:void(0)" id="question-data-link">Question Data</a></li>
        </ul>
    </nav>
</div>
<div id="main-content">
    <header>
        <h1>Elevator Pitch</h1>
        <div id="version">Version 2.0 - New feature releases will be explained here briefly upon page loading</div>
        <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <div class="chat-container">
        <div class="chat-block">
            <img src="https://interview-bot-public-images.s3.amazonaws.com/beans_bot_light_bg_500.png" alt="Beans Bot" class="chat-image">
            <div id="welcome-message" class="speech-bubble">
                <p>Hey {{ username }}!</p>
                <p>Welcome to Elevator Pitch 👋. My name is Beans 🐈‍⬛, your career navigator, here to guide you to success in your job search 🚀.</p>
                <p>Finding a job these days can be frustrating. Job sites often recycle old listings, applicant tracking systems reduce your value to keywords, and social media is full of “influencers” competing for engagement.</p>
                <p>Elevator Pitch is different. We believe in the power of practice and that with enough of it every person can find the right job.</p>
                <p>To get started, upload your resume or answer a few questions. Then submit a job listing you're interested in. Finally, select the interview format you want to practice. </p>
                <p>I’ll be your interviewer, asking relevant questions based on the information you’ve shared and the type of interview you need to prepare for. At the end of each practice interview, I’ll provide feedback so that you can measure your growth over time. Each session will be stored in your Interview History tab.</p>
                <p>Every practice interview brings you one step closer to landing your next job. No really. If you are actively searching for a new job then navigate to your Profile page and activate ‘game mode’. This setting notifies our team of in-house recruiters that you are on the market for a new job. They will immediately begin matching you with relevant, active, job listings with companies we work with. At any time, feel free to refine that search down even more with advanced settings in the Profile page. </p>
                <p>That’s it for now but if you ever have any questions just feel free to ask! </p>
            </div>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-block">
            <img src="https://interview-bot-public-images.s3.amazonaws.com/beans_bot_light_bg_500.png" alt="Beans Bot" class="chat-image">
            <div id="resume-job-listing-message" class="speech-bubble">
                {{ message }}
            </div>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-block">
            <img src="https://interview-bot-public-images.s3.amazonaws.com/beans_bot_light_bg_500.png" alt="Beans Bot" class="chat-image">
            <div class="speech-bubble">
                <h2>Select an Interview:</h2>
                <select id="interview-type-dropdown">
                    <option value="">Click here</option>
                    <option value="first_round">First Round Interview</option>
                    <option value="behavioral_round">Behavioral Round Interview</option>
                    <option value="personality_round">Personality Round Interview</option>
                    <option value="situational_round">Situational Round Interview</option>
                    <option value="motivational_round">Motivational Round Interview</option>
                    <option value="competency_round">Competency Round Interview</option>
                    <option value="ethical_round">Ethical Round Interview</option>
                    <option value="job_role_round">Job Role Specific Interview Round</option>
                </select>
                <div id="secondary-dropdown-container" style="display: none;">
                    <h3>Select Job Role:</h3>
                    <select id="job-role-dropdown">
                        <option value="">Click here</option>
                    </select>
                </div>
                <div id="new-job-title-container" style="display: none;">
                    <h3>Provide a New Job Title:</h3>
                    <input type="text" id="new-job-title" placeholder="Enter job title">
                    <button id="submit-new-job-title">Submit</button>
                </div>
                <div id="interview-details-content" class="interview-details-content"></div>
            </div>
        </div>
    </div>
    <div id="status-message" class="status-message" style="display: none; background-color: burntorange;"></div>
</div>
<script src="../static/js/scripts.js"></script>
</body>
</html>
