<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Training Data Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Training Data Service</h1>
    <form method="post" action="/">
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title" required>
        <br>
        <label for="company_name">Company Name:</label>
        <input type="text" id="company_name" name="company_name" required>
        <br>
        <label for="industry">Industry:</label>
        <input type="text" id="industry" name="industry" required>
        <br>
        <input type="submit" value="Submit">
    </form>

    <!-- New block for generic interview -->
    <h3 class="centered-text">If you don't have a specific job title, company, and industry in mind, click below:</h3>
    <button class="centered-button" onclick="window.location.href='http://localhost:5012/?job_title=generic'">Start Generic Interview!</button>
    
</body>
</html>
