<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Question Data</title>
    <link rel="stylesheet" href="../static/css/styles.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S00G0YVEWV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S00G0YVEWV');
</script>

</head>
<body>
    <div id="sidebar">
        <div id="logo-container">
            <img src="https://interview-bot-public-images.s3.amazonaws.com/beans_bot_light_bg_500.png" alt="Beans Bot">
            <h1>Beans Bot</h1>
        </div>
        <nav>
            <ul>
                <li><a href="javascript:void(0)" id="home-link">Home</a></li>
                <li><a href="javascript:void(0)" id="edit-resume-link">Edit Resume</a></li>
                <li><a href="javascript:void(0)" id="edit-job-listing-link">Edit Job Listing</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Plans</a></li>
                <li><a href="#">Interview History</a></li>
                <li><a href="javascript:void(0)" id="question-data-link">Question Data</a></li>
            </ul>
        </nav>
    </div>
    <div id="main-content">
        <header>
            <h1>Question Data</h1>
            <div id="version">Version 2.0 - New feature releases will be explained here briefly upon page loading</div>
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </header>
        <div id="questions-data">
            <!-- This section will be populated dynamically by JavaScript -->
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>