<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload Options</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Select Your Method(s) For Uploading Training Data</h1>
    {% if message %}
    <p class="centered-message">{{ message }}</p>
    {% endif %}
    <h2>If you want to extract the text from videos on a youtube channel:</h2>
        <ul>
            <p style="text-align: center;">Navigate to the channel's homepage on Youtube</p>
            <p style="text-align: center;">Right click and "view page source"</p>
            <p style="text-align: center;">CTRL+F search for "channelid" and copy the preceding value</p>
        </ul>
    <form method="post" action="/youtube_transcription">
        <input type="hidden" name="job_title" value="{{ job_title }}">
        <input type="hidden" name="company_name" value="{{ company_name }}">
        <input type="hidden" name="industry" value="{{ industry }}">
        <input type="hidden" name="username" value="{{ username }}">
        <label for="channel_id">YouTube Channel ID:</label>
        <input type="text" id="channel_id" name="channel_id" required>
        <br>
        <label for="num_videos">Number of Videos:</label>
        <input type="number" id="num_videos" name="num_videos" required>
        <br>
        <input type="submit" value="Start Transcription">
    </form>
    <h2>Feel free to upload text files from your computer:</h2>
    <br>
    <form method="post" action="/file_upload" enctype="multipart/form-data">
        <input type="hidden" name="job_title" value="{{ job_title }}">
        <input type="hidden" name="company_name" value="{{ company_name }}">
        <input type="hidden" name="industry" value="{{ industry }}">
        <input type="hidden" name="username" value="{{ username }}">
        <label for="files">File Upload:</label>
        <input type="file" id="files" name="files" multiple required>
        <br>
        <input type="submit" value="Upload Files">
    </form>
    <br>
    <h2>Or if you prefer paste some text here and submit it:</h2>
    <form method="post" action="/raw_text_submission">
        <input type="hidden" name="job_title" value="{{ job_title }}">
        <input type="hidden" name="company_name" value="{{ company_name }}">
        <input type="hidden" name="industry" value="{{ industry }}">
        <input type="hidden" name="username" value="{{ username }}">
        <label for="raw_text">Raw Text:</label>
        <textarea id="raw_text" name="raw_text" rows="10" cols="50" required></textarea>
        <br>
        <input type="submit" value="Submit Text">
    </form>
</body>
</html>
